body{
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-attachment: fixed;
}

.App{
  margin: 30px auto;
  max-width: 800px;
}


.App footer{
  font-size: 14px;
  margin: 10px 0;
}

