* {
  font-family: "Inter", sans-serif;
}

:root {
  --background-color: linear-gradient(to top,
      lightgrey 0%,
      lightgrey 1%,
      #e0e0e0 26%,
      #efefef 48%,
      #d9d9d9 75%,
      #bcbcbc 100%);
  --btn-color: #ec6e4c;
  --btn-hover-color: #c55c3e;
  --gray-text-color: #929292;
}

body{
  text-align: center;
}

.weather-app-wrapper{
  max-width: 600px;
  margin: 50px auto;
}

.weather-app{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 16px 10px 20px rgba(0, 0, 0, 0.2);
  background: #7FB5D1;
}

.WeatherResults li{
  list-style: none;
}

/* .btn-primary {
  background-color: #3382ea;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  width: 40px;
} */

.ChangeMetric button{
  background: #8765f6;
  border: none; 
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  width: 40px;
}

.ChangeMetric button:hover{
  background: #795bde;
}

