
/* body{
  text-align: center;
} */

/* .weather-app-wrapper{
  max-width: 600px;
  margin: 50px auto;
}

.weather-app{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 16px 10px 20px rgba(0, 0, 0, 0.2);
  background: #7FB5D1;
}

.WeatherResults li{
  list-style: none;
} */

/* .btn-primary {
  background-color: #3382ea;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  width: 40px;
} */

/* .ChangeMetric button{
  background: #8765f6;
  border: none; 
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  width: 40px;
}

.ChangeMetric button:hover{
  background: #795bde;
} */

